html {
    position: relative;
    min-height: 100%;
}

body {
    color: #fff;
    padding-bottom: 11vw;
}

.container {
    position:relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    max-width: 75%;
    margin: auto;
}

.center-content {
    max-width: 50%;
    margin: auto;
}

.title {
    max-width: 75%;
    margin: auto;
}

.title h1{
    font-weight: bolder;
}

.title-wrapper{
    background-color: #cac2c231;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

footer {
    background-color: #c50f3c;
    color: white;
    height: 3vw;
    font-size: 0.8vw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
}

.logo-container{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;
}

nav {
    padding: 0;
    margin: 0;
    background-color: #c50f3c;
}

.navbar {
    padding: 0;
    margin: 0;
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: #c50f3c;
    display: inline-block;
}

.dropdown a {
    display: inline-block;
    align-items: center;
    color: #ffffff;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    margin:0;
}

.dropdown a:hover{
    text-decoration: underline;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #c50f3c;
    min-width: 15vw;
    z-index: 3;
    margin: 0;
    padding-left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    display: block;
    font-weight: bold;
    font-size: 1vw;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.carousel carousel-dark slide {
    z-index: 2;
    padding-bottom: 20000px;
}

.cslide1 {
    position: relative;
    top: 10vw;
    width: 25vw;
    margin-left: -10vw;
    font-weight: bold;
    font-size: 1vw;
}

.carousel-learn-more-btn1 {
    scale:200%;
    background-color: #be0404;
    color: #fff;
    border: none;
    margin-top: 3vw;
    padding-bottom: 0.2vw;
    font-weight: bold;
}

.carousel-learn-more-btn1:hover {
    background-color: #460000;
}

.cslide2 {
    position: relative;
    top: 6.5vw;
    width: 25vw;
    margin-left: -3.5vw;
    font-weight: bold;
    font-size: 1vw;
}

.cslide2 p {
    font-size: 1.3vw;
}

.carousel-learn-more-btn2 {
    scale:200%;
    background-color: #ffb42a;
    color: #460101;
    border: none;
    margin-top: 2vw;
    padding-bottom: 0.2vw;
    font-weight: bold;
}

.carousel-learn-more-btn2:hover {
    background-color: #ff9735fd;
}

.column{
    flex: 50%;
}

.row {
    display: flex;
}

#showbutton:hover {
    color: rgb(105, 105, 105);
}
